In [1]:
num = 87
type(num)

int

In [2]:
print(type(num))

<class 'int'>

In [3]:
num2 = 56.89
print(type(num2))

<class 'float'>

In [33]:
institute = 'ETLHIVE'
print(type(institute))

<class 'str'>

In [4]:
boolt1 = True
print(type(boolt1))

<class 'bool'>

In [5]:
d = {'name' : ['Seeta','geeta','neeta','sunita'],'occupation':['Prof','counselour','Admin','data analyst'],
     'salary':[40000,25000,20000,35000]}

In [6]:
print(type(d))

<class 'dict'>

In [11]:
import pandas as  pd

In [12]:
df = pd.DataFrame(d)

In [24]:
df

     name    occupation  salary
0   Seeta          Prof   40000
1   geeta    counselour   25000
2   neeta         Admin   20000
3  sunita  data analyst   35000

In [25]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [26]:
print(type(df.name))

<class 'pandas.core.series.Series'>

In [35]:
### attributes
-shape
-columns
-Index
-values

NameError: name 'shape' is not defined

In [13]:
df.shape

(4, 3)

In [14]:
df.columns

Index(['name', 'occupation', 'salary'], dtype='object')

In [15]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [20]:
list(df.index)

[0, 1, 2, 3]

In [23]:
df.size

12

In [22]:
df.values

array([['Seeta', 'Prof', 40000],
       ['geeta', 'counselour', 25000],
       ['neeta', 'Admin', 20000],
       ['sunita', 'data analyst', 35000]], dtype=object)

In [27]:
df.dtypes

name          object
occupation    object
salary         int64
dtype: object

In [ ]:
#function of data
#info()
#isnull()
#sum()
#droupby
#sort1_values()

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        4 non-null      object
 1   occupation  4 non-null      object
 2   salary      4 non-null      int64
dtypes: int64(1), object(2)
memory usage: 228.0+ bytes

In [30]:
df.groupby('name').salary.mean()

name
Seeta     40000.0
geeta     25000.0
neeta     20000.0
sunita    35000.0
Name: salary, dtype: float64

In [31]:
df.salary.sum()

np.int64(120000)

In [32]:
print(df.salary.sum())

120000

In [39]:
class Person : 
    def __init__(self, name , age, gender, occupation):
        self.name = name
        self.age = age
        self.gender = gender 
        self.occupation = occupation

    def talk(self):
        print(f' Hi there my i am {self.name}')
        print(f'my age is{self.age}')
        print(f'gender is {self.gender}')
        print(f'my occupation is{self.occupation}')

In [40]:
p1 = Person(name = 'Aditi' , age = 23, gender = 'female' , occupation= 'Data Engineer')

In [41]:
p1

In [42]:
p1.name

'Aditi'

In [43]:
p1.gender

'female'

In [44]:
p1.occupation

'Data Engineer'

In [45]:
p1.location = 'Pune'

In [46]:
p1.location

'Pune'

In [47]:
p1.talk()

 Hi there my i am Aditi
my age is23
gender is female
my occupation isData Engineer

In [48]:
p1.occupation = 'ML engineer'

In [49]:
p1.occupation

'ML engineer'

In [50]:
p1.talk()

 Hi there my i am Aditi
my age is23
gender is female
my occupation isML engineer

In [51]:
p2 = Person("Swara" , 24 , 'Female' , 'Ai Engineer')

In [52]:
p2

In [53]:
p2.name

'Swara'

In [54]:
p2.age

24

In [56]:
p2.occupation

'Ai Engineer'

In [57]:
p2.talk()

 Hi there my i am Swara
my age is24
gender is Female
my occupation isAi Engineer

In [59]:
p3 = Person(name ='umesh',age= 29, gender = 'male', occupation = 'Buisness')

In [60]:
p3.name

'umesh'

In [75]:
from dataclasses import dataclass

In [76]:
@dataclass
class Student:
    name :str
    age : int
    marks:float | int
    gender: Literal ['Male', 'Female']
    hobbies : list[str]

    def get_info(self):
         print(f'My name is {self.name}')
         print(f'My age is {self.age}')
         print(f'mark is {self.marks}')
         print(f' i am {self.gender}')
         print(f'My hobbies are {self.hobbies}')

NameError: name 'Literal' is not defined

In [ ]:
s1 = Student(name = 'Sujit' , marks = 78, gender = 'Female', age =17, hobbies = ['Swimming'])

In [ ]:
s1

In [ ]:
s1.name

In [ ]:
s1.age

In [ ]:
s1.ages1.marks

In [ ]:
s1.get_info()

In [ ]:
s2 = student('Swaraj, 7 , 89 , 'male' , ['playing'])

In [ ]:
s2

In [ ]:
s2.gender

In [ ]:
s2.name

In [ ]:
s2.gender

In [ ]:
s2

In [ ]:
###create class for bank account functionality

In [4]:
@dataclass

class Account:
    ac_no = int
    ac_name : str
    bal : int|float

    def check_balance(self):
        print(f'Current Account balance is {self.bal}')

    def deposit(self , amt : int):
        print(f'Amount of {amt} is deposited in account {self.ac_no}')
        self.bal = self.bal+amt
        self.check_balance()

    def withdraw(self , amt :int|float):
        if self.bal< amt:
             raise ValueError('Insufficiant balance')
        else:
            self.bal = self.bal-amt 
            print(f'Amount of {amt} withdrawed from{self.ac_no}')
            self.check_balance()

    def transfer(self , amt : int| float , ac = ' Account'):
        self.withdraw(amt)
        ac.deposit(amt)

NameError: name 'dataclass' is not defined

In [97]:
a1

Account(ac_name=1234, bal='Priya')

In [93]:
a1 = Account(1234, 'Priya', 2000)

TypeError: Account.__init__() takes 3 positional arguments but 4 were given

In [87]:
a1

Account(ac_name=1234, bal='Priya')

In [94]:
a1.deposit(2000)

Amount of 2000is deposited in account <class 'int'>

TypeError: can only concatenate str (not "int") to str

In [ ]:
a1.check_balance()

In [ ]:
a1.withdraw(5000)

In [96]:
a2 = Account(5678 , ac_name = 'Suresh' , bal = 200)

TypeError: Account.__init__() got multiple values for argument 'ac_name'

In [95]:
a1.tranfer(3000,a2)

AttributeError: 'Account' object has no attribute 'tranfer'

In [ ]:
a1.check_balance()

In [ ]:
a2.check_balance()