In [ ]:
#Advance Python

In [3]:
import pandas as pd

In [2]:
import numpy as np

In [5]:
a =3
b = 4
a+b

7

In [6]:
def add(x,y):
      """this function will give addition of two number"""
      z= x+y
      return z

In [7]:
add(5,6)

11

add(5,6)

In [8]:
add(5,6)

11

In [10]:
add('data', 'science')

'datascience'

In [ ]:
# Type Hinting
 multiplaction of two numbers

In [13]:
def mul(x : int[float , y : int]float):
    c= x*y 
    return c

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1700546926.py, line 1)

def mul(x : int[float , y : int]float):

In [ ]:
mul(23,4)

In [ ]:
mul(4.5 , 6)

In [ ]:
mul(2 ,'str')

In [ ]:
def mul(x : int|float , y:int|float):
"""we want multipliction of numbers only"""
assert isinstance(x ,(int float)), "Insert Int or float for x"
assert isinstance(y, (int , float)), "insert int or float for y"
z = x*y
return z

IndentationError: expected an indented block after function definition on line 1 (2719661348.py, line 3)

In [16]:
mul(2,3)

NameError: name 'mul' is not defined

In [47]:
def mul(x : int|float , y:int|float):
    if isinstance(x ,(int ,float)) and isinstance(y , (int , float)):
        z  = x*y
        return (z)
    else:
        print('Int or float value should be there')

In [48]:
mul(2,3)

6

In [30]:
mul('str' ,2)

Int or float value should be there

In [35]:
help(max)

Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

In [36]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [37]:
help(max)

Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

In [41]:
help(mul)

Help on function mul in module __main__:

mul(x: int | float, y: int | float)

In [50]:
mul.__doc__

In [51]:
mul('str' ,2)

Int or float value should be there

In [ ]:
def add(x, y):
    """this functiion will give addition of two numbers"""
    add

In [ ]:
add(111,111)

In [ ]:
add(111,111,11)

In [ ]:
# variable lengtgh argument --->*args

In [52]:
def add(*args):
    s = 0
    for i in args:
        s = s+i
        return s

In [53]:
add(23,4,5,6,7,8,9)

23

In [66]:
def add(*args):
    s = 0
    for i in args:
        s = s+i
        print(s)

In [67]:
add(23,4,3)

23
27
30

In [74]:
def add(*args):
    s = 0
    for i in args:
        s = s+i
        print(s)

In [75]:
add(23,4,3)

23
27
30

In [76]:
def args(*a):
    print(f"arguments:{a}")
    print(f"{a} : {type(a)}")

In [77]:
args(23,6,56,5,6)

arguments:(23, 6, 56, 5, 6)
(23, 6, 56, 5, 6) : <class 'tuple'>

In [78]:
l1 = [12,34,56,67]

In [80]:
## unpacking list

In [91]:
def amount(*args):
    for product , price, quantity in args:
        bill_before_tax = 0
        total = 0
        subtotal = price*quantity

        bill_before_tax += subtotal

        print('bill_beforeet_tax' , bill_before_tax)

        tax = 0.18
        tax_to_pay =0.18*bill_before_tax

        print('tax_to_pay' , tax_to_pay)

        total = total+bill_before_tax+tax_to_pay
    print(total)

In [92]:
amount(('computer' ,45000,2), ('mobile',20000,1))

bill_beforeet_tax 90000
tax_to_pay 16200.0
bill_beforeet_tax 20000
tax_to_pay 3600.0
23600.0

In [93]:
def amount(*args):
    for product , price, quantity in args:
        print('name' , 'sakshi')
        bill_before_tax = 0
        total = 0
        subtotal = price*quantity

        bill_before_tax += subtotal

        print('bill_beforeet_tax' , bill_before_tax)

        tax = 0.18
        tax_to_pay =0.18*bill_before_tax

        print('tax_to_pay' , tax_to_pay)

        total = total+bill_before_tax+tax_to_pay
    print(total)

In [94]:
amount(('computer' ,45000,2), ('mobile',20000,1))

name sakshi
bill_beforeet_tax 90000
tax_to_pay 16200.0
name sakshi
bill_beforeet_tax 20000
tax_to_pay 3600.0
23600.0

In [97]:
def amount(*args):
    bill_before_tax = 0
    total = 0
    
    for product , price, quantity in args:
                
        subtotal = price*quantity

        bill_before_tax += subtotal

        

        
        tax_to_pay =0.18*bill_before_tax

       

        total = total+bill_before_tax+tax_to_pay
    return(total)

In [99]:
amount(('computer' ,45000, 2), ('mobile',20000, 1))

236000.0